@using MyStockApp.Core.Application.ViewModels.Products;
@model SaveProductViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save product page";
}

<section class="min-h-screen bg-cover " style="background-image: url('https://images.unsplash.com/photo-1563986768609-322da13575f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    <div class="flex flex-col min-h-screen bg-black/60">
        <div class="container flex flex-col flex-1 px-6 py-12 mx-auto">
            <div class="flex-1 lg:flex lg:items-center lg:-mx-6">
                <div class="text-white lg:w-1/2 lg:mx-6">
                    <h1 class="text-3xl font-semibold capitalize lg:text-5xl">How does it's work ?</h1>

                    <p class="max-w-xl mt-6">
                        Product registration is a way of proving that the product follows all related standards and laws required by the responsible agency and can be marketed. As this is a mandatory procedure, all companies wishing to market a product must do so.
                    </p>

                    <button class="px-8 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-50">
                        Follow Creator
                    </button>
                </div>

                <div class="mt-8 lg:w-1/2 lg:mx-6">
                    <div class="w-full px-8 py-10 mx-auto overflow-hidden bg-white shadow-2xl rounded-xl dark:bg-gray-900 lg:max-w-xl">
                        <h1 class="text-2xl font-medium text-gray-700 dark:text-gray-200">@(editMode ? $"Editing the product: {Model.Name}" : "Creating a new product")</h1>

                        @if (Model.Categories == null || Model.Categories.Count == 0)
                        {
                            <p class="mt-4 text-gray-500 dark:text-gray-400">
                                Upps
                            </p>
                            <h4 class="mb-3 text-gray-500 dark:text-gray-400">No categories created</h4>
                            <a asp-controller="Product" asp-action="Index" class="text-gray-500 dark:text-gray-400 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Volver atras</a>
                        }
                        else
                        {
                            <form class="mt-6" method="post" asp-controller="Product" asp-action="@(editMode ? "Edit":"Create")" enctype="multipart/form-data">
                                <div class="flex-1">
                                    <label asp-for="Name" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Product name</label>
                                    <input asp-for="Name" type="text" placeholder="" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        <span asp-validation-for="Name" class="font-medium"></span>
                                </div>
                                <div class="flex-1">
                                    <label asp-for="Description" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Product description</label>
                                    <input asp-for="Description" type="text" placeholder="" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        <span asp-validation-for="Description" class="font-medium"></span>
                                </div>
                                <div class="flex-1">
                                    <label asp-for="Price" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Product price</label>
                                    <input asp-for="Price" type="number" placeholder="" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        <span asp-validation-for="Price" class="font-medium"></span>
                                </div>
                                <div class="grid gap-5 md:grid-cols-2">
                                    <div class="flex-1">
                                        <label asp-for="File" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Upload a picture</label>
                                        @if(editMode) {
                                            <input asp-for="File" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        } else {
                                            <input required asp-for="File" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                            <span asp-validation-for="File" class="font-medium"></span>
                                    </div>
                                    <div class="flex-1">
                                        <label asp-for="File2" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Upload a picture</label>
                                        @if (editMode)
                                        {
                                            <input asp-for="File2" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        else
                                        {
                                            <input required asp-for="File2" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        <span asp-validation-for="File2" class="font-medium"></span>
                                    </div>
                                </div>
                                <div class="grid gap-5 md:grid-cols-2">
                                    <div class="flex-1">
                                        <label asp-for="File3" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Upload a picture</label>
                                        @if (editMode)
                                        {
                                            <input asp-for="File3" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        else
                                        {
                                            <input required asp-for="File3" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        <span asp-validation-for="File3" class="font-medium"></span>
                                    </div>
                                    <div class="flex-1">
                                        <label asp-for="File4" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Upload a picture</label>
                                        @if (editMode)
                                        {
                                            <input asp-for="File4" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        else
                                        {
                                            <input required asp-for="File4" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
                                        }
                                        <span asp-validation-for="File4" class="font-medium"></span>
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <label asp-for="CategoryId" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Product Category</label>
                                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="block w-full px-5 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                                        <option value="0">Select a category</option>
                                    </select>
                                    
                                    <span asp-validation-for="Price" class="font-medium"></span>
                                </div>
                                <input type="hidden" asp-for="Id" />
                                <button class="w-full px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-50">
                                    Create product
                                </button>
                                <button class="mt-2 w-full px-6 py-3 mt-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-50">
                                    Go back
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>